{% from "forms.html" import sample_row_form %}

{% macro samples_table(samples, constants, apptags, add_new=False, family_id=None,
                       old_form=None) %}
  <table class="table">
    <thead class="header">
      <tr>
        <th>Sample</th>
        <th>Sex</th>
        <th>Status</th>
        <th>Application tag</th>
        <th>Capture kit</th>
        <th>Father</th>
        <th>Mother</th>
        <th>Source</th>
        <th>Quantity</th>
        <th>Container</th>
        <th>Container name</th>
        <th>Well position</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for sample in samples %}
        {{ sample_row_form(constants, apptags, sample=sample, other_samples=(samples|rejectattr('id', 'equalto', sample.id)|list)) }}
      {% endfor %}
      {% if add_new %}
        {{ sample_row_form(constants, apptags, family_id=family_id,
                           other_samples=samples, old_form=old_form) }}
      {% endif %}
    </tbody>
  </table>
{% endmacro %}
