{% extends "layout.html" %}
{% from "forms.html" import family_form %}
{% from "blocks.html" import family_panel %}

{% block top_nav %}
  {{ super() }}
  <li>
    <a href="{{ url_for('project', project_id=family.project.id) }}">
      {{ family.project.name }}
    </a>
  </li>
  <li class="active">
    <a href="{{ url_for('family', family_id=family.id) }}">
      {{ family.name }}
    </a>
  </li>
{% endblock %}

{% block content_main %}
  <form method="POST" action="{{ url_for('family', family_id=family.id) }}">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Edit family: {{ family.name }}
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            {{ family_form(constants, family=family) }}
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-primary form-control">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  {{ family_panel(family, constants, apptags, add_new=True) }}

  <form method="POST" action="{{ url_for('delete_family', family_id=family.id) }}">
    <button type="submit" class="btn btn-danger form-control">Delete family</button>
  </form>
{% endblock %}
