{% macro project_form(constants, project=None, user=None, upload=False) %}
  <form method="POST" action="{{ url_for('projects') }}" enctype="multipart/form-data">
    <div class="form-group">
      <div class="row">
        <div class="col">
          <input name="name" type="text" class="form-control" pattern="^[a-zA-Z0-9.-]*$" value="{{ project.name if project }}" placeholder="Project name">
        </div>
        <div class="col">
          <select name="customer" class="form-control">
            {% if project %}
              <option value="{{ project.customer.id }}" selected>{{ project.customer.name }}</option>
            {% else %}
              {% for customer in user.customers %}
                <option value="{{ customer.id }}" selected>{{ customer.name }} ({{ customer.customer_id }})</option>
              {% endfor %}
            {% endif %}
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      {% if upload %}
        <div class="col">
          <label class="custom-file">
            <input name="orderform" type="file" id="file" class="custom-file-input">
            <span class="custom-file-control" data-content="Choose file..."></span>
          </label>
          <small class="form-text text-muted">Optionally upload an order form directly.</small>
        </div>
      {% endif %}

      <div class="col">
        <button type="submit" class="btn btn-{{ 'secondary' if project else 'primary' }} form-control">
          {{ 'Update project details' if project else 'Add new project' }}
        </button>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro family_form(constants, family=None, project=None) %}
  <div class="form-group row">
    <div class="col">
      <input name="name"
               class="form-control"
               pattern="[a-zA-Z0-9-]+"
               value="{{ family.name if family }}"
               placeholder="Family name"
               required>
      <small class="form-text text-muted">Name</small>
    </div>
    <div class="col">
      <select name="panels" class="form-control" multiple>
        {% for panel in constants.PANELS %}
          <option value="{{ panel }}"
                  {% if family and panel in family.panels %}selected{% endif %}>
            {{ panel }}
          </option>
        {% endfor %}
      </select>
      <small class="form-text text-muted">Gene panels</small>
    </div>
    <div class="col">
      <select name="priority" class="form-control" required>
        {% for prio in constants.PRIORITIES %}
          <option value="{{ prio }}"
                  {% if family and prio == family.priority %}selected{% endif %}>
            {{ prio }}
          </option>
        {% endfor %}
      </select>
      <small class="form-text text-muted">Priority</small>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <select name="delivery" class="form-control">
        <option disabled selected>Select...</option>
        {% for type in constants.DELIVERY_TYPES %}
          <option value="{{ type }}"
                  {% if (family and type == family.delivery_type) or (type == 'scout' and project and project.customer.scout_access) %}selected{% endif %}>
            {{ type }}
          </option>
        {% endfor %}
      </select>
      <small class="form-text text-muted">Data analysis</small>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input name="require_qcok" type="checkbox" {{ 'checked' if family and family.require_qcok }}>
          <small class="form-text text-muted">Require QC = OK</small>
        </div>
        <div class="col">
          <input name="existing_family" type="checkbox" {{ 'checked' if family and family.existing_family }}>
          <small class="form-text text-muted">Existing family</small>
        </div>
        <div class="col">
          <input name="keep_vis" type="checkbox" {{ 'checked' if family and family.keep_vis }}>
          <small class="form-text text-muted">Keep Scout</small>
        </div>
      </div>
    </div>
    <div class="col">
      <button type="submit" class="btn btn-{{ 'secondary' if family else 'primary' }} form-control">
        {{ 'Update' if family else 'Add' }}
      </button>
    </div>
  </div>
{% endmacro %}

{% macro sample_row_form(constants, apptags, sample=None, family_id=None,
                         other_samples=None, old_form=None) %}
  {% if sample %}
    <form action="{{ url_for('samples', sample_id=sample.id) }}" method="POST">
  {% else %}
    <form action="{{ url_for('samples', family_id=family_id) }}" method="POST">
  {% endif %}
    <div class="row space-below">
      <div class="col pr-0">
        <input name="existing_sample" type="checkbox" {{ 'checked' if sample and sample.existing_sample }}>
        <small class="form-text text-muted">Existing</small>
      </div>
      <div class="col pr-0">
        <input name="exclude_analysis" type="checkbox" {{ 'checked' if sample and sample.exclude_analysis }}>
        <small class="form-text text-muted">Excluded</small>
      </div>
      <div class="col pr-0">
        <input class="form-control form-control-sm" name="name" value="{{ sample.name if sample else old_form.name }}" pattern="[a-zA-Z0-9-]+" placeholder="Sample name" required>
        <small class="form-text text-muted">Name</small>
      </div>
      <div class="col pr-0">
        {{ select_box('sex', constants.SEXES, selected=(sample.sex if sample else old_form.sex)) }}
        <small class="form-text text-muted">Sex</small>
      </div>
      <div class="col pr-0">
        {{ select_box('status', constants.STATUSES, selected=(sample.status if sample else old_form.status)) }}
        <small class="form-text text-muted">Status</small>
      </div>
      <div class="col pr-0">
        {{ select_box('application_tag', apptags, selected=(sample.application_tag.id if sample else old_form.application_tag), records=True) }}
        <small class="form-text text-muted">Application</small>
      </div>
      <div class="col pr-0">
        {{ select_box('capture_kit', constants.CAPTURE_KITS, selected=(sample.capture_kit if sample else old_form.capture_kit)) }}
        <small class="form-text text-muted">Capture kit</small>
      </div>
      <div class="col pr-0">
        {% if other_samples %}
          {{ select_box('father', other_samples, selected=(sample.father.id if sample else old_form.father), records=True) }}
          <small class="form-text text-muted">Father</small>
        {% endif %}
      </div>
      <div class="col pr-0">
        {% if other_samples %}
          {{ select_box('mother', other_samples, selected=(sample.mother.id if sample else old_form.mother), records=True) }}
          <small class="form-text text-muted">Mother</small>
        {% endif %}
      </div>
      <div class="col pr-0">
        {{ select_box('source', constants.SOURCES, selected=(sample.source if sample else old_form.source)) }}
        <small class="form-text text-muted">Source</small>
      </div>
      <div class="col pr-0">
        <input class="form-control form-control-sm" name="quantity" value="{{ sample.quantity if (sample and sample.quantity) else old_form.quantity }}" type="number" placeholder="Quantity">
        <small class="form-text text-muted">Quantity</small>
      </div>
      <div class="col pr-0">
        {{ select_box('container', constants.CONTAINERS, selected=(sample.container if sample else old_form.container)) }}
        <small class="form-text text-muted">Container</small>
      </div>
      <div class="col pr-0">
        <input class="form-control form-control-sm" name="container_name" value="{{ sample.container_name if (sample and sample.container_name) else old_form.container_name }}" pattern="[a-zA-Z0-9-]+" placeholder="Container name">
        <small class="form-text text-muted">Cont. name</small>
      </div>
      <div class="col pr-0">
        {{ select_box('well_position', constants.WELL_POSITIONS, selected=(sample.well_position if sample else old_form.well_position)) }}
        <small class="form-text text-muted">Well pos.</small>
      </div>
      <div class="col">
        <button class="btn btn-{{ 'secondary' if sample else 'primary' }} btn-sm form-control" type="submit">
          {{ 'Update' if sample else 'Add' }}
        </button>
      </div>
    </div>
  </form>
{% endmacro %}

{% macro select_box(name, items, selected=None, records=False) %}
  <select class="form-control form-control-sm" name="{{ name }}">
    <option {% if not selected %}selected{% endif %} disabled>Select...</option>
    {% if items is mapping %}
      {% for category, items in items.items() %}
        <optgroup label="{{ category }}">
          {% for item in items %}
            <option value="{{ item }}" {% if item == selected %}selected{% endif %}>{{ item }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    {% else %}
      {% if records %}
        {% for item in items %}
          <option value="{{ item.id }}" {% if item.id == selected %}selected{% endif %}>
            {{ item.name }}
          </option>
        {% endfor %}
      {% else %}
        {% for item in items %}
          <option value="{{ item }}" {% if item == selected %}selected{% endif %}>
            {{ item }}
          </option>
        {% endfor %}
      {% endif %}
    {% endif %}
  </select>
{% endmacro %}
