{% macro project_form(constants, project=None, user=None) %}
  <form method="POST" action="{{ url_for('projects') }}">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label class="control-label">Name</label>
          <input name="name" type="text" class="form-control" pattern="[a-zA-Z0-9-\ ]+" value="{{ project.name if project }}" placeholder="Project name">
        </div>
        <div class="col-xs-6">
          <label class="control-label">Customer</label>
          <select name="customer" class="form-control">
            {% if project %}
              <option value="{{ project.customer.id }}" selected>{{ project.customer.name }}</option>
            {% else %}
              {% for customer in user.customers %}
                <option value="{{ customer.id }}" selected>{{ customer.name }} ({{ customer.customer_id }})</option>
              {% endfor %}
            {% endif %}
          </select>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary form-control">Add</button>
  </form>
{% endmacro %}

{% macro upload_form() %}
  <form action="{{ url_for('orderforms') }}" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <label class="control-label">Name</label>
          <input name="name" class="form-control" required placeholder="Project name" pattern="[a-zA-Z0-9-\ ]+">
        </div>
        <div class="col-xs-6">
          <label class="control-label">Order form (Excel)</label>
          <input name="orderform" type="file" class="form-control" required>
        </div>
      </div>
    </div>
    <button class="btn btn-default btn-primary form-control" type="submit">
      Submit
    </button>
  </form>
{% endmacro %}

{% macro family_form(constants, family=None, project=None) %}
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <label class="control-label">Family</label>
        <input name="name"
               class="form-control"
               pattern="[a-zA-Z0-9-]+"
               value="{{ family.name if family }}"
               required>
      </div>
      <div class="col-xs-6 col-sm-4">
        <label class="control-label">Gene panels</label>
        <select name="panels" multiple>
          {% for panel in constants.PANELS %}
            <option value="{{ panel }}"
                    {% if family and panel in family.panels %}selected{% endif %}>
              {{ panel }}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="col-xs-6 col-sm-4">
        <label class="control-label">Priority</label>
        <select name="priority" class="form-control" required>
          {% for prio in constants.PRIORITIES %}
            <option value="{{ prio }}"
                    {% if family and prio == family.priority %}selected{% endif %}>
              {{ prio }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-6 col-sm-4">
        <label class="control-label">Data analysis</label>
        <select name="delivery" class="form-control">
          <option disabled selected>Select...</option>
          {% for type in constants.DELIVERY_TYPES %}
            <option value="{{ type }}"
                    {% if (family and type == family.delivery_type) or (type == 'scout' and project and project.customer.scout_access) %}selected{% endif %}>
              {{ type }}
            </option>
          {% endfor %}
        </select>
      </div>

      <div class="col-xs-6 col-sm-4">
        <label class="control-label">Proceed only if qc is OK</label>
        <div><input name="require_qcok" type="checkbox" {{ 'checked' if family and family.require_qcok }}></div>
      </div>

      <div class="col-xs-6 col-sm-4">
        <label class="control-label">Save</label>
        <button type="submit" class="btn btn-primary form-control">
          Update
        </button>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro sample_row_form(constants, apptags, sample=None, family_id=None,
                         other_samples=None, old_form=None) %}
  {% if sample %}
    <form action="{{ url_for('samples', sample_id=sample.id) }}" method="POST">
  {% else %}
    <form action="{{ url_for('samples', family_id=family_id) }}" method="POST">
  {% endif %}
    <tr>
      <td>
        <input class="form-control" name="name" value="{{ sample.name if sample else old_form.name }}" pattern="[a-zA-Z0-9-]+" placeholder="Sample name" required>
      </td>
      <td>{{ select_box('sex', constants.SEXES, selected=(sample.sex if sample else old_form.sex)) }}</td>
      <td>{{ select_box('status', constants.STATUSES, selected=(sample.status if sample else old_form.status)) }}</td>
      <td>
        {{ select_box('application_tag', apptags, selected=(sample.application_tag.id if sample else old_form.application_tag), records=True) }}
      </td>
      <td>{{ select_box('capture_kit', constants.CAPTURE_KITS, selected=(sample.capture_kit if sample else old_form.capture_kit)) }}</td>
      <td>
        {% if other_samples %}
          {{ select_box('father', other_samples, selected=(sample.father.id if sample else old_form.father), records=True) }}
        {% endif %}
      </td>
      <td>
        {% if other_samples %}
          {{ select_box('mother', other_samples, selected=(sample.mother.id if sample else old_form.mother), records=True) }}
        {% endif %}
      </td>
      <td>{{ select_box('source', constants.SOURCES, selected=(sample.source if sample else old_form.source)) }}</td>
      <td>
        <input class="form-control" name="quantity" value="{{ sample.quantity if (sample and sample.quantity) else old_form.quantity }}" type="number" placeholder="Quantity">
      </td>
      <td>{{ select_box('container', constants.CONTAINERS, selected=(sample.container if sample else old_form.container)) }}</td>
      <td>
        <input class="form-control" name="container_name" value="{{ sample.container_name if (sample and sample.container_name) else old_form.container_name }}" pattern="[a-zA-Z0-9-]+" placeholder="Container name">
      </td>
      <td>{{ select_box('well_position', constants.WELL_POSITIONS, selected=(sample.well_position if sample else old_form.well_position)) }}</td>
      <td>
        <button class="btn btn-default form-control" type="submit">
          {{ 'Update' if sample else 'Add' }}
        </button>
      </td>
    </tr>
  </form>
{% endmacro %}

{% macro select_box(name, items, selected=None, records=False) %}
  <select class="form-control" name="{{ name }}" required>
    <option {% if not selected %}selected{% endif %} disabled>Select...</option>
    {% if items is mapping %}
      {% for category, items in items.items() %}
        <optgroup label="{{ category }}">
          {% for item in items %}
            <option value="{{ item }}" {% if item == selected %}selected{% endif %}>{{ item }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}
    {% else %}
      {% if records %}
        {% for item in items %}
          <option value="{{ item.id }}" {% if item.id == selected %}selected{% endif %}>
            {{ item.name }}
          </option>
        {% endfor %}
      {% else %}
        {% for item in items %}
          <option value="{{ item }}" {% if item == selected %}selected{% endif %}>
            {{ item }}
          </option>
        {% endfor %}
      {% endif %}
    {% endif %}
  </select>
{% endmacro %}
