{% extends "base.html" %}
{% from "utils.html" import flash_messages %}

{% block styles %}
  {{ super() }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-cg navbar-toggleable-md navbar-light bg-faded fixed-top">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img class="logo" src="{{ url_for('static', filename='clinical-genomics-logo.png') }}" alt="Clinical Genomics logo">
      Clinical Genomics
    </a>

    <ul class="navbar-nav mr-auto">
      {% block top_nav %}
        <li class="nav-item">
          <a href="{{ url_for('index') }}" class="nav-link">Projects</a>
        </li>
        {% if current_user.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('invoices') }}">Invoices</a>
          </li>
        {% endif %}
      {% endblock %}
    </ul>

    {% if current_user.is_authenticated %}
      <form class="form-inline my-2 my-md-0" action="{{ url_for('logout') }}">
        <button class="btn btn-secondary btn-md my-2 my-sm-0">
          Logout {{ current_user.first_name }}
        </button>
      </form>
    {% endif %}
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {{ flash_messages() }}

    {% block content_main %}{% endblock %}
  </div>

  {% block content_extra %}{% endblock %}
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>

  <script>
    $(function () {
      $('select[multiple]').multiselect({
        buttonWidth: '100%'
      });
    })
  </script>
{% endblock %}
