{% extends "base.html" %}

{% block styles %}
  {{ super() }}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-cg navbar-toggleable-md navbar-light bg-faded fixed-top">
    <a class="navbar-brand" href="{{ url_for('index') }}">
      <img class="logo" src="{{ url_for('static', filename='clinical-genomics-logo.png') }}" alt="Clinical Genomics logo">
      Clinical Genomics
    </a>

    <ul class="navbar-nav mr-auto">
      {% block top_nav %}
        {% if current_user.is_admin %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('admin.index') }}">Admin</a>
          </li>
        {% endif %}
      {% endblock %}
    </ul>

    {% if current_user.is_authenticated %}
      <form class="form-inline my-2 my-md-0" action="{{ url_for('logout') }}">
        <button class="btn btn-secondary btn-md my-2 my-sm-0">
          Logout {{ current_user.first_name }}
        </button>
      </form>
    {% endif %}
  </nav>
{% endblock %}

{% block content %}
  <div class="container-fluid">
    {% with messages = get_flashed_messages(with_categories=true) %}
      <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
      {% if messages %}
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible">
          <button class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}

    {% block content_main %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>

  <script>
    $(function () {
      $('select[multiple]').multiselect({
        buttonWidth: '100%'
      });
    })
  </script>
{% endblock %}
