{% extends "layout.html" %}
{% from "forms.html" import project_form, family_form %}
{% from "blocks.html" import family_panel %}

{% block top_nav %}
  {{ super() }}
  <li class="active">
    <a href="{{ url_for('project', project_id=project.id) }}">
      {{ project.name }}
    </a>
  </li>
{% endblock %}

{% block content_main %}
  <form method="POST" action="{{ url_for('projects', project_id=project.id) }}">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Edit project: {{ project.name }}
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse">
          <div class="panel-body">
            {{ project_form(constants, project=project) }}
          </div>
          <div class="panel-footer">
            <button type="submit" class="btn btn-primary form-control">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <h4>Families</h4>
  {% for family in project.families %}
    <div class="panel-group">
      {{ family_panel(family, constants, apptags, add_new=True) }}
    </div>
  {% endfor %}

  <form method="POST" action="{{ url_for('families', project_id=project.id) }}">
    <div class="panel panel-default">
      <div class="panel-heading">New family</div>
      <div class="panel-body">
        {{ family_form(constants, project=project) }}
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-default form-control">
          Add
        </button>
      </div>
    </div>
  </form>

  {% if project.samples|list|length > 0 %}
    <form method="POST" action="{{ url_for('submit_project', project_id=project.id) }}">
      <button type="submit" class="btn btn-primary form-control">Submit</button>
    </form>
  {% endif %}
{% endblock %}
